.feedback-error{
    color: red;
}

.slider-div .container {
    max-width: 100% !important;
}

.offer-customer {
    background-color: #a34f78;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.request-supply {
    background-color: #c61004;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.group-b2mb-left {
    color: #7997e9;
    font-weight: bold;
}


.group-b2mb-right {
    color: #3a80c9;
    font-weight: bold;
}

.private-b2b{
    color: #67a853;
    font-weight: bold;
}

.golden-offers {
    background-color: #b9930b;
}

.padding-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.list-thumb img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.text-badge {
    position: absolute;
    top: 32px;
    left: 32px;
}

.text-badge .badge {
    color: white;
    
    border-radius: 0.25rem;
    font-size: 14px;
    padding: 7px;

}

.text-badge .info{
    background-color: #3a80c9;
}

.text-badge .success{
    background-color: #67a853;
}

.text-badge .golden{
    background-color: #b9930b;
}
.golden-bg {
    background-color: #b9930b;
    color: white;
}

.golden-bg-re {
    color: #b9930b;
    background-color: white;
}

.ofc-offers {
    background-color: #a34f78;
}

.ofc-offers-bg-re {
    color: #3a80c9;
    background-color: white;
}

.ofc-offers-bg-re-private{
    color: #67a853;
    background-color: white;
}

.rfc-offers {
    background-color: #c61004;
}

.btn-customize {
    padding: 3px 4px;
}